<nb-card>
  <nb-card-body>
    <div class="preview-card-header">
        <span class="preview-card-title"></span>
        <button nbButton status="success" class="btn-success">Print</button>
    </div>
    <nb-tabset>
      <nb-tab tabTitle="Budget Breakdown">
        
        <br>
        
        <img src="assets/images/ogc-your-renovation-specialist.png">
        
        <h3><strong>Scope of work</strong></h3>
        <br>
        <h4><strong>Appendix 2</strong></h4>
        <br>
        <h5><strong>Client: </strong> John Smith</h5>
        <h5><strong>Job Type: </strong> General Renovation</h5>
        <br>
        <nb-card class="job-detail-card">
          <nb-card-body>
            <h5><strong>Job Name: </strong> Slater 1123</h5>
            <h5><strong>Revision No: </strong> Rev_0.2</h5>
            <h5><strong>Drawing No: </strong> Concept Ver 1.0</h5>
            <h5><strong>Rev. Date: </strong> July 4, 2018</h5>
          </nb-card-body>
        </nb-card>
        <!-- <p>OGC LTD</p>
        <p>1886 Merivale Rd, Suite 200</p>
        <p>Ottawa, Ontario K2G 1E6</p>
        <p>613-225-9991</p> -->
        OGC LTD<br>
        1886 Merivale Rd, Suite 200<br>
        Ottawa, Ontario K2G 1E6<br>
        613-225-9991<br>
      </nb-tab>

      <nb-tab tabTitle="Scope">
        <img src="assets/images/ogc-your-renovation-specialist.png">
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
