@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  .job-detail-card {
    background: lightgray;
    font-weight: nb-theme(font-weight-bold);
  }

  .preview-card-header {
    display: flex;

    .preview-card-title {
      flex: 1;
    }
  }
}
