<nb-layout>
  <nb-layout-header subheader>
    <ngx-header-pricebook></ngx-header-pricebook>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
      <nb-tabset>
        <nb-tab tabTitle="Project Templates">
          <ngx-project-templates></ngx-project-templates>
        </nb-tab>
        <nb-tab tabTitle="Divisions">
          <ngx-divisions></ngx-divisions>
        </nb-tab>
        <nb-tab tabTitle="Sub Divisions">
          <ngx-sub-division></ngx-sub-division>
        </nb-tab>
        <nb-tab tabTitle="Line Items">
          <ngx-table></ngx-table>
        </nb-tab>
      </nb-tabset>
  </nb-layout-column>
</nb-layout>
