<nb-layout>
  <nb-layout-header subheader>
    <ngx-header-pricebook></ngx-header-pricebook>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
    <div class="text-center" *ngIf="!pricebookService?.lineItems.length; else showPricebook">
      <h1>Create your first Line item to get started</h1>
      <h3>Line items are used in line item groups and in projects.</h3>
    </div>
    <ng-template #showPricebook>
      <nb-tabset>
        <nb-tab tabTitle="Project Templates">
        
        </nb-tab>
        <nb-tab tabTitle="Divisions">
          
        </nb-tab>
        <nb-tab tabTitle="Sub Divisions">
          <ngx-sub-division></ngx-sub-division>
        </nb-tab>
        <nb-tab tabTitle="Line Items">
          <ngx-table></ngx-table>
        </nb-tab>
      </nb-tabset>
    </ng-template>
  </nb-layout-column>
</nb-layout>
