
  .share-container {
    height: 100%;
  }
  .shareInfo {
    background-color: #e9edf2;
    padding: 10px;
  }
  .comment-input {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  ul li {
    list-style: none;
  }
  .comment-group h5 {
    color: #0799dd;
  }
  .comment-group h6 {
    color: rgb(145, 145, 145);
  }
