<nb-layout>
    <nb-layout-header subheader>
        <ngx-header-project></ngx-header-project>
    </nb-layout-header>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <nb-tabset>
                    <nb-tab tabTitle="Info">
                        <ngx-info></ngx-info>
                    </nb-tab>
                    <nb-tab tabTitle="Edit">
                        <ngx-edit *ngIf="projectsService.activeProject" ></ngx-edit>
                    </nb-tab>
                    <nb-tab tabTitle="Preview">
                        
                    </nb-tab>
                    <nb-tab tabTitle="Share">
                        
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>