<div class="row" [style.width.px]="600" >
    <div class="col-md-12">
      <nb-card>
          <nb-card-header>
            {{data?.title}}
            <button class="close" aria-label="Close" (click)="ref.close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </nb-card-header>
          <form [style.padding.px]="15" [formGroup]= "subDivision" (ngSubmit)="onSubmit()">
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Divisions">Divisions</label>
                  <select class="form-control" formControlName="division">
                      <option value="">Select Division</option>
                      <option *ngFor="let item of divisionsService.divisions"  [value]="item.id">{{item.attributes.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="division.value">
                <div class="form-group">
                  <label for="SubDivisions">New Sub Division Name</label>
                  <input formControlName="name" type="text" class="form-control" placeholder="New Sub Division Name"
                    [ngClass]="{
                      'form-control-danger': name.invalid && name.dirty,
                      'form-control-success': name.valid && name.dirty
                  }">
                  <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                    <p *ngIf="name.errors.required">Sub Division Name is required</p>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
      
          
        </form>
        <nb-card [size]="'small'" *ngIf="lineItems.controls.length">    
          <nb-list>
            <nb-list-item *ngFor="let lineItem of lineItems.controls">
              {{lineItem.value.attributes.title}} - 
              <button [nbPopover]="unitType" nbPopoverPlacement="right" nbButton size="xsmall" shape="round" status="info">info</button>
              <ng-template #unitType>
                <div style="justify-content: center;padding: 1rem;word-wrap: normal;width:20rem;">
                  <span> <b>Unit Type :</b> {{lineItem.value.attributes.unitType}}</span> <br>
                  <span> <b>Description :</b> {{lineItem.value.attributes.description}}</span> <br>
                  <span> <b>OGC Notes :</b> {{lineItem.value.attributes.ogcNotes}}</span>
                </div>
                
              </ng-template>
            </nb-list-item>
          </nb-list>
        </nb-card>
        
      
        <nb-card-footer>
          <button nbButton status="success" type="submit">{{data.buttonText}}</button>
        </nb-card-footer>
      
      </nb-card>
  </div>
</div>
