
<div class="row" [style.width.px]="600" >
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Create Client
        <button class="close" aria-label="Close" (click)="dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <form [style.padding.px]="15" [formGroup]= "clientsForm" (ngSubmit)="onSubmit()">
      <nb-card-body>
        <div class="row" formGroupName="name">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="clientFirstName">First Name</label>
              <input formControlName="firstName" type="text" class="form-control" placeholder="First Name"
              [ngClass]="{
                'form-control-danger': firstName.invalid && firstName.dirty,
                'form-control-success': firstName.valid && firstName.dirty
               }">
              <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                  <p *ngIf="firstName.errors.required">First Name is required</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="clientLastName">Last Name</label>
              <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name"
              [ngClass]="{
                'form-control-danger': lastName.invalid && lastName.dirty,
                'form-control-success': lastName.valid && lastName.dirty
               }">
              <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                  <p *ngIf="lastName.errors.required">Last Name is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="clientEmail">Email Address</label>
              <input formControlName="email" type="text" class="form-control" placeholder="Email"
              [ngClass]="{
                'form-control-danger': email.invalid && email.dirty,
                'form-control-success': email.valid && email.dirty
              }">
              <div class="form-control-feedback"
                *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">Email is required</p>
                <p *ngIf="email.errors.pattern">The email address is not valid</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="clientPhone">Phone Number</label>
              <input formControlName="phone" type="number" class="form-control" placeholder="Phone Number" 
              [ngClass]="{
                'form-control-danger': phone.invalid && phone.dirty,
                'form-control-success': phone.valid && phone.dirty
              }"
              >
              <div class="form-control-feedback"
                *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <p *ngIf="phone.errors.required">Phone is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="clientAddress">Address</label>
            <input formControlName="address" type="text" class="form-control" placeholder="Address" 
            [ngClass]="{
              'form-control-danger': address.invalid && address.dirty,
              'form-control-success': address.valid && address.dirty
            }"
            >
            <div class="form-control-feedback"
              *ngIf="address.errors && (address.dirty || address.touched)">
              <p *ngIf="address.errors.required">Address is required</p>
            </div>
          </div>
        </div>
        </div>
      </nb-card-body>
      
      <nb-card-footer>
        <button nbButton class="btn btn-success" type="submit">Create Client</button>
      </nb-card-footer>
    </form>
    </nb-card>
  </div>
</div>
