
<div class="row" [style.width.px]="600" >
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        {{data?.title}}
        <button class="close" aria-label="Close" (click)="ref.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <form [style.padding.px]="15" [formGroup]= "division" (ngSubmit)="onSubmit()">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="Divisions">Division Name</label>
              <input formControlName="name" type="text" class="form-control" placeholder="Division Name"
                [ngClass]="{
                  'form-control-danger': name.invalid && name.dirty,
                  'form-control-success': name.valid && name.dirty
              }">
              <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors.required">Division Name is required</p>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </form>

    <nb-card [size]="'small'" *ngIf="subDivisions.controls.length">    
      <nb-card-header>
        Sub Divisions
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let subDivision of subDivisions.controls">
          {{subDivision.value.attributes.name}}
        </nb-list-item>
      </nb-list>
    </nb-card>

    <nb-card-footer>
      <button nbButton class="btn btn-success" (click)="save()">{{data.buttonText}}</button>
    </nb-card-footer>
    </nb-card>
  </div>
</div>
